In [1]:
import pandas as pd
from scipy.stats import f_oneway

In [2]:
df_general = pd.read_csv('../data/data_general.csv')
df_ajijic = pd.read_csv('../data/data-ajijic.csv')
df_allende = pd.read_csv('../data/data-allende.csv')
df_esmeralda = pd.read_csv('../data/data-esmeralda.csv')
df_guadalupe = pd.read_csv('../data/data-guadalupe.csv')
df_irapuato = pd.read_csv('../data/data-irapuato.csv')
df_mitras = pd.read_csv('../data/data-mitras.csv')
df_neza = pd.read_csv('../data/data-neza.csv')
df_satelite = pd.read_csv('../data/data-satelite.csv')
df_sendero = pd.read_csv('../data/data-sendero.csv')

In [3]:
columns_selected = ['AVG_BET',
        'INITIAL_AMOUNT', 'GAMES_PLAYED_TOTAL',
        'GAMES_WON_TOTAL', 'Rango_Edad_le']

# Ajijic

In [4]:
num_clusters = len(df_general['Cluster'].unique())

# Resultados
anova_results = []

for col in columns_selected:
    for c1 in range(num_clusters):
        for c2 in range(num_clusters):
            # Extraer los datos por cluster y columna
            group1 = df_general[df_general['Cluster'] == c1][col].dropna()
            group2 = df_ajijic[df_ajijic['Cluster'] == c2][col].dropna()
            
            # Asegúrate de que ambos grupos tengan más de 1 dato
            if len(group1) > 1 and len(group2) > 1:
                # ANOVA entre cluster c1 del df1 y cluster c2 del df2
                stat, p = f_oneway(group1, group2)
                
                anova_results.append({
                    'variable': col,
                    'cluster_df1': c1,
                    'cluster_df2': c2,
                    'F_statistic': stat,
                    'p_value': p
                })
anova_df_ajijic = pd.DataFrame(anova_results)

In [5]:
anova_df_ajijic.groupby('variable').size()

variable
AVG_BET               16
GAMES_PLAYED_TOTAL    16
GAMES_WON_TOTAL       16
INITIAL_AMOUNT        16
Rango_Edad_le         16
dtype: int64

In [6]:
anova_df_ajijic
anova_df_ajijic[anova_df_ajijic['p_value'] < 0.05]

         variable  cluster_df1  cluster_df2  F_statistic        p_value
1         AVG_BET            0            1    88.896618   4.234526e-21
2         AVG_BET            0            2    19.808942   8.566330e-06
3         AVG_BET            0            3  4316.131755   0.000000e+00
5         AVG_BET            1            1    73.476525   1.092478e-17
6         AVG_BET            1            2    17.255340   3.282257e-05
..            ...          ...          ...          ...            ...
75  Rango_Edad_le            2            3  3302.500188   0.000000e+00
76  Rango_Edad_le            3            0   900.008556  1.114370e-181
77  Rango_Edad_le            3            1  2330.177981   0.000000e+00
78  Rango_Edad_le            3            2    10.580392   1.157647e-03
79  Rango_Edad_le            3            3    36.894320   1.401244e-09

[66 rows x 5 columns]

# Allende

In [7]:
num_clusters = len(df_general['Cluster'].unique())

# Resultados
anova_results = []

for col in columns_selected:
    for c1 in range(num_clusters):
        for c2 in range(num_clusters):
            # Extraer los datos por cluster y columna
            group1 = df_general[df_general['Cluster'] == c1][col].dropna()
            group2 = df_allende[df_allende['Cluster'] == c2][col].dropna()
            
            # Asegúrate de que ambos grupos tengan más de 1 dato
            if len(group1) > 1 and len(group2) > 1:
                # ANOVA entre cluster c1 del df1 y cluster c2 del df2
                stat, p = f_oneway(group1, group2)
                
                anova_results.append({
                    'variable': col,
                    'cluster_df1': c1,
                    'cluster_df2': c2,
                    'F_statistic': stat,
                    'p_value': p
                })
anova_df_allende = pd.DataFrame(anova_results)

In [8]:
anova_df_allende
anova_df_allende[anova_df_allende['p_value'] < 0.05].groupby('variable').size()

variable
AVG_BET               16
GAMES_PLAYED_TOTAL    16
GAMES_WON_TOTAL       16
INITIAL_AMOUNT        16
Rango_Edad_le         14
dtype: int64

# Esmeralda

In [9]:
num_clusters = len(df_general['Cluster'].unique())

# Resultados
anova_results = []

for col in columns_selected:
    for c1 in range(num_clusters):
        for c2 in range(num_clusters):
            # Extraer los datos por cluster y columna
            group1 = df_general[df_general['Cluster'] == c1][col].dropna()
            group2 = df_esmeralda[df_esmeralda['Cluster'] == c2][col].dropna()
            
            # Asegúrate de que ambos grupos tengan más de 1 dato
            if len(group1) > 1 and len(group2) > 1:
                # ANOVA entre cluster c1 del df1 y cluster c2 del df2
                stat, p = f_oneway(group1, group2)
                
                anova_results.append({
                    'variable': col,
                    'cluster_df1': c1,
                    'cluster_df2': c2,
                    'F_statistic': stat,
                    'p_value': p
                })
anova_df_esmeralda = pd.DataFrame(anova_results)

In [10]:
anova_df_esmeralda[anova_df_esmeralda['p_value'] < 0.05].groupby('variable').size()

variable
AVG_BET               15
GAMES_PLAYED_TOTAL    16
GAMES_WON_TOTAL       16
INITIAL_AMOUNT        14
Rango_Edad_le         13
dtype: int64

# Guadalupe

In [11]:
num_clusters = len(df_general['Cluster'].unique())

# Resultados
anova_results = []

for col in columns_selected:
    for c1 in range(num_clusters):
        for c2 in range(num_clusters):
            # Extraer los datos por cluster y columna
            group1 = df_general[df_general['Cluster'] == c1][col].dropna()
            group2 = df_guadalupe[df_guadalupe['Cluster'] == c2][col].dropna()
            
            # Asegúrate de que ambos grupos tengan más de 1 dato
            if len(group1) > 1 and len(group2) > 1:
                # ANOVA entre cluster c1 del df1 y cluster c2 del df2
                stat, p = f_oneway(group1, group2)
                
                anova_results.append({
                    'variable': col,
                    'cluster_df1': c1,
                    'cluster_df2': c2,
                    'F_statistic': stat,
                    'p_value': p
                })
anova_df_guadalupe = pd.DataFrame(anova_results)

In [12]:
anova_df_guadalupe[anova_df_guadalupe['p_value'] < 0.05].groupby('variable').size()

variable
AVG_BET               10
GAMES_PLAYED_TOTAL    16
GAMES_WON_TOTAL       14
INITIAL_AMOUNT        13
Rango_Edad_le         11
dtype: int64

# Irapuato

In [13]:
num_clusters = len(df_general['Cluster'].unique())

# Resultados
anova_results = []

for col in columns_selected:
    for c1 in range(num_clusters):
        for c2 in range(num_clusters):
            # Extraer los datos por cluster y columna
            group1 = df_general[df_general['Cluster'] == c1][col].dropna()
            group2 = df_irapuato[df_irapuato['Cluster'] == c2][col].dropna()
            
            # Asegúrate de que ambos grupos tengan más de 1 dato
            if len(group1) > 1 and len(group2) > 1:
                # ANOVA entre cluster c1 del df1 y cluster c2 del df2
                stat, p = f_oneway(group1, group2)
                
                anova_results.append({
                    'variable': col,
                    'cluster_df1': c1,
                    'cluster_df2': c2,
                    'F_statistic': stat,
                    'p_value': p
                })
anova_df_irapuato = pd.DataFrame(anova_results)

In [14]:
anova_df_irapuato[anova_df_irapuato['p_value'] < 0.05].groupby('variable').size()

variable
AVG_BET               14
GAMES_PLAYED_TOTAL    16
GAMES_WON_TOTAL       14
INITIAL_AMOUNT        11
Rango_Edad_le         16
dtype: int64

# Mitras

In [15]:
num_clusters = len(df_general['Cluster'].unique())

# Resultados
anova_results = []

for col in columns_selected:
    for c1 in range(num_clusters):
        for c2 in range(num_clusters):
            # Extraer los datos por cluster y columna
            group1 = df_general[df_general['Cluster'] == c1][col].dropna()
            group2 = df_mitras[df_mitras['Cluster'] == c2][col].dropna()
            
            # Asegúrate de que ambos grupos tengan más de 1 dato
            if len(group1) > 1 and len(group2) > 1:
                # ANOVA entre cluster c1 del df1 y cluster c2 del df2
                stat, p = f_oneway(group1, group2)
                
                anova_results.append({
                    'variable': col,
                    'cluster_df1': c1,
                    'cluster_df2': c2,
                    'F_statistic': stat,
                    'p_value': p
                })
anova_df_mitras = pd.DataFrame(anova_results)

In [16]:
anova_df_mitras[anova_df_mitras['p_value'] < 0.05].groupby('variable').size()

variable
AVG_BET               14
GAMES_PLAYED_TOTAL    16
GAMES_WON_TOTAL       16
INITIAL_AMOUNT        15
Rango_Edad_le         14
dtype: int64

# Neza

In [17]:
num_clusters = len(df_general['Cluster'].unique())

# Resultados
anova_results = []

for col in columns_selected:
    for c1 in range(num_clusters):
        for c2 in range(num_clusters):
            # Extraer los datos por cluster y columna
            group1 = df_general[df_general['Cluster'] == c1][col].dropna()
            group2 = df_neza[df_neza['Cluster'] == c2][col].dropna()
            
            # Asegúrate de que ambos grupos tengan más de 1 dato
            if len(group1) > 1 and len(group2) > 1:
                # ANOVA entre cluster c1 del df1 y cluster c2 del df2
                stat, p = f_oneway(group1, group2)
                
                anova_results.append({
                    'variable': col,
                    'cluster_df1': c1,
                    'cluster_df2': c2,
                    'F_statistic': stat,
                    'p_value': p
                })
anova_df_neza = pd.DataFrame(anova_results)

In [18]:
anova_df_neza[anova_df_neza['p_value'] < 0.05].groupby('variable').size()

variable
AVG_BET               16
GAMES_PLAYED_TOTAL    14
GAMES_WON_TOTAL       16
INITIAL_AMOUNT        14
Rango_Edad_le         16
dtype: int64

# Satelite

In [19]:
num_clusters = len(df_general['Cluster'].unique())

# Resultados
anova_results = []

for col in columns_selected:
    for c1 in range(num_clusters):
        for c2 in range(num_clusters):
            # Extraer los datos por cluster y columna
            group1 = df_general[df_general['Cluster'] == c1][col].dropna()
            group2 = df_satelite[df_satelite['Cluster'] == c2][col].dropna()
            
            # Asegúrate de que ambos grupos tengan más de 1 dato
            if len(group1) > 1 and len(group2) > 1:
                # ANOVA entre cluster c1 del df1 y cluster c2 del df2
                stat, p = f_oneway(group1, group2)
                
                anova_results.append({
                    'variable': col,
                    'cluster_df1': c1,
                    'cluster_df2': c2,
                    'F_statistic': stat,
                    'p_value': p
                })
anova_df_satelite = pd.DataFrame(anova_results)

In [20]:
anova_df_satelite[anova_df_satelite['p_value'] < 0.05].groupby('variable').size()

variable
AVG_BET               12
GAMES_PLAYED_TOTAL    16
GAMES_WON_TOTAL       16
INITIAL_AMOUNT        16
Rango_Edad_le         15
dtype: int64

# Sendero

In [21]:
num_clusters = len(df_general['Cluster'].unique())

# Resultados
anova_results = []

for col in columns_selected:
    for c1 in range(num_clusters):
        for c2 in range(num_clusters):
            # Extraer los datos por cluster y columna
            group1 = df_general[df_general['Cluster'] == c1][col].dropna()
            group2 = df_sendero[df_sendero['Cluster'] == c2][col].dropna()
            
            # Asegúrate de que ambos grupos tengan más de 1 dato
            if len(group1) > 1 and len(group2) > 1:
                # ANOVA entre cluster c1 del df1 y cluster c2 del df2
                stat, p = f_oneway(group1, group2)
                
                anova_results.append({
                    'variable': col,
                    'cluster_df1': c1,
                    'cluster_df2': c2,
                    'F_statistic': stat,
                    'p_value': p
                })
anova_df_sendero = pd.DataFrame(anova_results)

In [22]:
anova_df_sendero[anova_df_sendero['p_value'] < 0.05].groupby('variable').size()

variable
AVG_BET                7
GAMES_PLAYED_TOTAL    16
GAMES_WON_TOTAL       16
INITIAL_AMOUNT        10
Rango_Edad_le         12
dtype: int64